@font-face {
    font-family: 'ArimoBold';
    src:url('./fonts/Arimo-Bold.ttf');
}

@font-face {
    font-family: 'ArimoRegular';
    src:url('./fonts/Arimo-Regular.ttf');
}
@font-face {
    font-family: 'Henriette';
    src:url('./fonts/Henriette Compressed.otf');
}
@font-face {
    font-family: 'Lucida Handwriting';
    src:url('./fonts/Lucida Handwriting.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src:url('./fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'BCM';
    src: url("./fonts/BarlowCondensed/BarlowCondensed-Medium.ttf");
}

@font-face {
    font-family: 'BCBlack';
    src: url("./fonts/BarlowCondensed/BarlowCondensed-Black.ttf");
}

@font-face {
    font-family: 'BCRegular';
    src: url("./fonts/BarlowCondensed/BarlowCondensed-Regular.ttf");
}

@font-face {
    font-family: 'BCSemiBold';
    src: url("./fonts/BarlowCondensed/BarlowCondensed-SemiBold.ttf");
}

@font-face {
    font-family: 'BCExtraBold';
    src: url("./fonts/BarlowCondensed/BarlowCondensed-ExtraBold.ttf");
}

@font-face {
    font-family: 'BCBold';
    src: url("./fonts/BarlowCondensed/BarlowCondensed-Bold.ttf");
}

@font-face {
    font-family: 'BSemiBold';
    src: url("./fonts/Barlow/Barlow-SemiBold.ttf");
}

@font-face {
    font-family: 'BarlowM';
    src: url("./fonts/Barlow/Barlow-Medium.ttf");
}


@font-face {
    font-family: 'AssiRegular';
    src: url("./fonts/Assistant/static/Assistant-Regular.ttf");
}

@font-face {
    font-family: 'Assistant-SemiBold';
    src: url("./fonts/Assistant/static/Assistant-SemiBold.ttf");
}
