@font-face {
  font-family: "iconfont"; /* Project id 2814433 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1631687694864') format('woff2'),
       url('iconfont.woff?t=1631687694864') format('woff'),
       url('iconfont.ttf?t=1631687694864') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-aligoogle:before {
  content: "\ea0c";
}

.el-icon-aliapple:before {
  content: "\e945";
}

