@font-face {
  font-family: "iconfont"; /* Project id 2814433 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1649740217265') format('woff2'),
       url('iconfont.woff?t=1649740217265') format('woff'),
       url('iconfont.ttf?t=1649740217265') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-alihamburger-menu:before {
  content: "\e65b";
}

.el-icon-alihamburger-menu-gray:before {
  content: "\ea0e";
}

.el-icon-aliphone:before {
  content: "\e6ad";
}

.el-icon-aliimmessage:before {
  content: "\e647";
}

.el-icon-alismile:before {
  content: "\e67e";
}

.el-icon-alidate:before {
  content: "\e60b";
}

.el-icon-alitag:before {
  content: "\e61f";
}

.el-icon-alicomment:before {
  content: "\e64a";
}

.el-icon-alitag1:before {
  content: "\e6a5";
}

.el-icon-alitwitter:before {
  content: "\e602";
}

.el-icon-alilinkedin:before {
  content: "\e8ca";
}

.el-icon-alieducation:before {
  content: "\e8c8";
}

.el-icon-aliconnection:before {
  content: "\e640";
}

.el-icon-aliabout-list:before {
  content: "\e61e";
}

.el-icon-alilike:before {
  content: "\e64d";
}

.el-icon-alifacebook:before {
  content: "\e604";
}

.el-icon-aliyanzhengma:before {
  content: "\e65a";
}

.el-icon-alipassword:before {
  content: "\e6d8";
}

.el-icon-aliyanzhengma1:before {
  content: "\e603";
}

.el-icon-aliemail:before {
  content: "\e74f";
}

.el-icon-aliemail-fill:before {
  content: "\e77e";
}

.el-icon-alilastname:before {
  content: "\e6e8";
}

.el-icon-alifirstname:before {
  content: "\e6cf";
}

.el-icon-alixll-heart-filled:before {
  content: "\ea0d";
}

.el-icon-alixll-heart:before {
  content: "\e646";
}

.el-icon-alishijian:before {
  content: "\e8c5";
}

.el-icon-aligongzuojingyan:before {
  content: "\e60f";
}

.el-icon-alimale-female:before {
  content: "\e6e9";
}

.el-icon-aligoogle:before {
  content: "\ea0c";
}

.el-icon-aliapple:before {
  content: "\e945";
}

