@font-face {
  font-family: "iconfont"; /* Project id 2814433 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1636427016649') format('woff2'),
       url('iconfont.woff?t=1636427016649') format('woff'),
       url('iconfont.ttf?t=1636427016649') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-alilike:before {
  content: "\e64d";
}

.el-icon-alifacebook:before {
  content: "\e604";
}

.el-icon-aliyanzhengma:before {
  content: "\e65a";
}

.el-icon-alipassword:before {
  content: "\e6d8";
}

.el-icon-aliyanzhengma1:before {
  content: "\e603";
}

.el-icon-aliemail:before {
  content: "\e74f";
}

.el-icon-aliemail-fill:before {
  content: "\e77e";
}

.el-icon-alilastname:before {
  content: "\e6e8";
}

.el-icon-alifirstname:before {
  content: "\e6cf";
}

.el-icon-alixll-heart-filled:before {
  content: "\ea0d";
}

.el-icon-alixll-heart:before {
  content: "\e646";
}

.el-icon-alishijian:before {
  content: "\e8c5";
}

.el-icon-aligongzuojingyan:before {
  content: "\e60f";
}

.el-icon-alimale-female:before {
  content: "\e6e9";
}

.el-icon-aligoogle:before {
  content: "\ea0c";
}

.el-icon-aliapple:before {
  content: "\e945";
}

