@charset "UTF-8";
:root {
    --el-color-primary: #0aa0a8;
}

.el-button--primary {
    --el-button-font-color: #ffffff;
    --el-button-background-color: #0AA0A8;
    --el-button-border-color: #0AA0A8;
    --el-button-hover-color: rgb(59, 179, 185);
    --el-button-active-font-color: #e6e6e6;
    --el-button-active-background-color: #00b3d2;
    --el-button-active-border-color: #00b3d2
}