.job-template-container{
    margin: 30px 40px;
    display: flex;
    flex-direction: row;

}

.job-item{
    flex:1;
    margin-right: 30px;
    padding: 18px 16px;
    background: #F9FAFB;
    border-radius: 12px;
    position: relative;
}

.job-item-t{
    display: flex;
    flex-direction: row;
}

.job-item-avatar{
    width: 48px;
    height: 48px;
    background: #F7F5FF;
    border-radius: 6px;
}

.job-item-t-l{
    margin-right: 9px;
}

.job-item-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.job-item-desc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #667085;

    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.job-item-b{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

.job-item-location,.job-item-salary{
    display: flex;
    align-items: center;
}

.job-item-location span,.job-item-salary span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #344054;
}

.job-item-icon-24{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.job-item-more-actions{
    position: absolute;
    right: 10px;
    top: 10px;
}
.job-item-more-text{
    cursor: pointer;
}
.upgrade-job-template-item{
    flex: 1;
    padding: 16px 16px 20px 16px;
    background: #FFD171;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.upgrade-job-template-item-t{
    display: flex;
    flex-direction: row;
}
.upgrade-job-template-item-t-l{
    margin-right: 9px;
}
.upgrade-job-template-avatar{
    width: 48px;
    height: 48px;

}

.upgrade-job-template-item-label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.upgrade-job-template-item-tips{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #1D2939;
}

.upgrade-job-template-item-b{
    margin-top: auto;
    margin-bottom: 0;
    text-align: right;
}