@font-face {
    font-family: 'ArimoBold';
    src:url('Arimo-Bold.ttf');
}

@font-face {
    font-family: 'ArimoRegular';
    src:url('Arimo-Regular.ttf');
}
@font-face {
    font-family: 'Henriette';
    src:url('Henriette Compressed.otf');
}
@font-face {
    font-family: 'Lucida Handwriting';
    src:url('Lucida Handwriting.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src:url('SourceSansPro-Regular.ttf');
}

