@font-face {
    font-family: 'ArimoBold';
    src:url('Arimo-Bold.ttf');
}

@font-face {
    font-family: 'ArimoRegular';
    src:url('Arimo-Regular.ttf');
}
@font-face {
    font-family: 'Henriette';
    src:url('Henriette Compressed.otf');
}
